body {
  text-align: center;
  padding-top: 55px;
  padding-bottom: 55px;
  background-color: black !important;
  background: linear-gradient(
      177deg,
      rgba(52, 114, 170, 0.5) 0%,
      rgba(52, 114, 170, 1) 35%,
      rgb(64, 156, 237) 75%,
      rgb(64, 156, 237) 100%
    )
    no-repeat center center fixed;
}
h1 {
  font-weight: 400;
}
#comment {
  color: #676767;
}
.intro {
  word-spacing: 2px;
  text-shadow: 0px 0.5px 20px #676767;
  padding-top: 15px;
  padding-bottom: 40px;
  padding-left: 40px;
  padding-right: 40px;
}
.logo {
  border: 2px solid white;
  height: 40vmin;
  width: 40vmin;
  pointer-events: none;
  box-shadow: 0px 5px 55px #000000;
  outline-color: #ffffff;
  border-radius: 50%;
  margin-bottom: 25px;
}
#customLink {
  margin-top: 20px;
  padding: 10px;
  border: 1px solid white;
  border-width: 3px;
  width: 300px;
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 60px;
  font-size: 30px;
  box-shadow: 0px 5px 45px #000000;
}
#customLink:hover {
  color: #000;
  background: rgb(255, 241, 241);
}
#socialImage {
  max-width: 15%;
  height: auto;
  vertical-align: middle;
  padding-right: 16px;
}
.link {
  color: #ffffff;
}
.floating {
  animation-name: floating;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  margin-top: 5px;
}
@keyframes floating {
  0% {
    transform: translate(0, 0px);
  }
  50% {
    transform: translate(0, 10px);
  }
  100% {
    transform: translate(0, -0px);
  }
}

#tsparticles {
  width: 100%;
  height: 100%;
  position: fixed;
  margin: 0;
  padding: 0;
  top: 0;
  left: 0;
}

.fade-in {
  animation: fade-in 3s;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 100;
  }
}
